
@import 'tailwindcss';

@theme {
  /* Colori per modalità light (default) */
  --color-primary: #2f9ac8;
  --color-secondary: #f5f5f5;
  --color-tertiary: #dddddd;
}

.dark {
  --color-primary: #90cde9;
  --color-secondary: #43463f;
  --color-tertiary: #1b6389;
}
